:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 42px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #06080C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Tactic Sans';
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  flex-grow: 1;
}

.errorLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #0F1318;
  padding: 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.alertIcon {
  flex-shrink: 0;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  place-items: center;
  min-width: 204px;
  height: 56px;
  border-radius: 4px;
  background-color: #EB0237;
  transition: 0.3s;
}
.refreshIcon {
  transition: 0.3s;
}
button:hover .refreshIcon {
  transform: rotate(-90deg);
}

.matchList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.matchListItem {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #0B0E12;
}
.teamContainer {
  display: flex;
  justify-content: space-between;
}
.homeTeam,
.awayTeam {

}

.scoreTable {
  font-size: 20px;
  line-height: 24px;
}

.statusCard {
  box-sizing: border-box;
  padding: 0px 5px;
  display: grid;
  place-items: center;
  min-width: 92px;
  height: 27px;
  border-radius: 4px;
  font-size: 12px;
}
.finished {
  background-color: #EB0237;
}
.ongoing {
  background-color: #43AD28;
}
.scheduled {
  background-color: #EB6402;
}