.custom-select {
    position: relative;
    min-width: 170px;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #0B0E12;
  color: #B4B5B6;
  cursor: pointer;
  transition: 0.3s;
}

.select-box:hover {
  background-color: #0F1318;
  color: #fff;
}
.select-box:hover .arrow {
  fill: #fff;
}

.arrow {
  fill: #B4B5B6;
  flex-shrink: 0;
  transition: 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

.select-dropdown {
  color: #B4B5B6;
  transition: 0.3s;
  margin-top: 8px;
  position: absolute;
  width: 100%;
  background: #0F1318;
  border-radius: 4px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.select-option {
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.select-option:hover {
  background: #11161D;
  color: #FFF;
}
