.custom-select {
    position: relative;
    width: 200px;
    font-family: Helvetica, sans-serif;
  }
  
  .select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .select-box:hover {
    border-color: #666;
  }
  
  .arrow {
    transition: 0.3s;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
  .select-dropdown {
    transition: 0.3s;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .select-option {
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .select-option:hover {
    background: #f0f0f0;
  }
  